<!DOCTYPE html5>
<html>
<head>
    <meta charset="utf-8">
    <title>网络攻击地图|锦标科技11</title>
    <link rel="stylesheet" type="text/css" href="./static/2d/css/ipviking.css">
    <link rel="stylesheet" type="text/css" href="./static/2d/css/flags.css">
    <link rel="stylesheet" type="text/css" href="./static/2d/css/fonts.css">
    <script src="./static/2d/js/jquery-2.1.1.min.js"></script>
    <style>

        .arc text {
            font: 10px sans-serif;
            text-anchor: middle;
        }

        .arc path {
            stroke: #fff;
        }

        .no-show {
            display: none;
        }

    </style>
</head>

<body class="f16">

{#<div id="loading">#}
{#    <h1>loading...</h1>#}
{#</div>#}
{#<div id="content">#}
{##}
{#    <div class="data box top-left gray-bg">#}
{#        <a href="#" class="toggle" data-target="#left-table-container">#}
{#            <div class="table-header">#}
{#                <h1>#}
{#                    <span class="icon-open"></span>#}
{#                    攻击源#}
{#                </h1>#}
{#            </div>#}
{#        </a>#}
{#        <div id="left-table-container" class="table-container">#}
{#            <table id="left-data">#}
{#                <colgroup>#}
{#                    <col class="bar-col" span="1"/>#}
{#                    <col class="total-count" span="1"/>#}
{#                    <col class="data-label-small" span="1"/>#}
{#                    <col class="data-label" span="1"/>#}
{#                </colgroup>#}
{#                <tr>#}
{#                    <th></th>#}
{#                    <th><span class="icon-number"></span></th>#}
{#                    <th><span class="icon-country"></span></th>#}
{#                    <th>国家</th>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="data box top-right gray-bg">#}
{#        <a href="#" class="switch" data-default="#right-table-container" data-second="#right-chart-container">#}
{#            <div class="table-header">#}
{#                <h1>#}
{#                    <span class="icon-open toggle" data-target="#right-table-container"></span>#}
{#                    攻击目标 </h1>#}
{#            </div>#}
{#        </a>#}
{#        <div id="right-table-container" class="table-container">#}
{#            <table id="right-data">#}
{#                <colgroup>#}
{#                    <col class="bar-col" span="1">#}
{#                    <col class="total-count" span="1">#}
{#                    <col class="data-label-small" span="1">#}
{#                    <col class="data-label" span="1">#}
{#                </colgroup>#}
{#                <tr>#}
{#                    <th></th>#}
{#                    <th><span class="icon-number"></span></th>#}
{#                    <th class="flag-col"><span class="icon-country"></span></th>#}
{#                    <th>国家</th>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#        <div id="right-chart-container" class="table-container" style="display:none">#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="data bottom-right box gray-bg">#}
{#        <a href="#" class="toggle" data-target="#bottom-right-table-container">#}
{#            <div class="table-header">#}
{#                <h1 class="table-header">#}
{#                    <span class="icon-open"></span>#}
{#                    攻击类型#}
{#                </h1>#}
{#            </div>#}
{#        </a>#}
{##}
{#        <div id="bottom-right-table-container">#}
{#            <table id="bottom-right-data">#}
{#                <colgroup>#}
{#                    <col class="bar-col" span="1">#}
{#                    <col class="total-count" span="1">#}
{#                    <col class="data-label-small" span="1">#}
{#                    <col class="data-label" span="1">#}
{#                    <col class="port-label" span="1">#}
{#                </colgroup>#}
{#                <tr>#}
{#                    <th></th>#}
{#                    <th><span class="icon-number"></span></th>#}
{#                    <th><span class="icon-threattype"></span></th>#}
{#                    <th>服务</th>#}
{#                    <th>端口</th>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="data info box gray-bg" id="info" style="position: fixed;left: 200px;top: 50px; display:none;">#}
{#        <a href="#" class="toggle" data-target="#info-table-container">#}
{#            <div class="table-header">#}
{#                <h1 class="table-header">#}
{#                    <span id="cityname"></span>受到的攻击#}
{#                </h1>#}
{#            </div>#}
{#        </a>#}
{##}
{#        <div id="info-table-container">#}
{#            <table id="info-data">#}
{#                <colgroup>#}
{#                    <col class="bar-col" span="1">#}
{#                    <col class="total-count" span="1">#}
{#                    <col class="data-label-small" span="1">#}
{#                    <col class="data-label" span="1">#}
{#                    <col class="port-label" span="1">#}
{#                </colgroup>#}
{#                <tr>#}
{#                    <th></th>#}
{#                    <th><span class="icon-number"></span></th>#}
{#                    <th><span class="icon-threattype"></span></th>#}
{#                    <th>服务</th>#}
{#                    <th>端口</th>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div id="console" class="box gray-bg">#}
{#        <a href="#" class="toggle" data-target="#console-table-container">#}
{#            <div class="table-header">#}
{#                <h1 class="table-header">#}
{#                    <span class="icon-open"></span>#}
{#                    攻击列表#}
{#                </h1>#}
{#            </div>#}
{#        </a>#}
{#        <div id="console-table-container">#}
{#            <table id="events-data">#}
{#                <colgroup class="second-level">#}
{#                    <col class="timestamp-col" span="1">#}
{#                    <col class="attacker-org-col left-border" span="1">#}
{#                    <col class="location-col" span="1">#}
{#                    <col class="attacker-ip-col" span="1">#}
{#                    <col class="location-col left-border" span="1">#}
{#                    <col class="service-col left-border" span="1">#}
{#                    <col class="port-col" span="1">#}
{#                </colgroup>#}
{##}
{#                <tr class="second-level">#}
{#                    <th>时间</th>#}
{#                    <th>攻击者组织</th>#}
{#                    <th>攻击者位置</th>#}
{#                    <th>攻击者IP</th>#}
{#                    <th>被攻击者位置</th>#}
{#                    <th>攻击类型</th>#}
{#                    <th>端口</th>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#    <div class="info-controls">#}
{#    </div>#}
{#    <div id="social-icons" class="gray-bg">#}
{#        <a href="#">锦标科技</a>#}
{#    </div>#}
{#</div>#}
{##}
{#<div id="drawer">#}
{#    <!-- <div id="nav-bottom-corner"></div> -->#}
{#    <div id="drawer-content" class="blue-bg">#}
{#        <div id="drawer-inner">#}
{#            <div id="legend-container">#}
{#                <div id="particle-legend">#}
{#                    <h4><span class="icon-open"></span>#}
{#                        <p>每个粒子代表一个攻击</p></h4>#}
{#                    <p id="particle-legend-content"></p>#}
{#                </div>#}
{#                <div id="origin-legend">#}
{#                    <h4><span class="icon-open"></span>#}
{#                        <p>这是攻击来源</p></h4>#}
{#                    <p>#}
{#                        <span class="icon-one"></span>#}
{#                        <span class="icon-ten"></span>#}
{#                        <span class="icon-twohundred"></span>#}
{#                    </p>#}
{#                </div>#}
{#                <div id="country-legend">#}
{#                    <h4><span class="icon-open"></span>#}
{#                        <p>这是被攻击国家</p></h4>#}
{#                    <p>#}
{#                        <span class="icon-one" style="color: #1e1e1e;"></span>#}
{#                        <span class="icon-five" style="color: #1e2637;"></span>#}
{#                        <span class="icon-twentyfive" style="color: #1e2e50;"></span>#}
{#                        <span class="icon-onehundred" style="color: #1e3565;"></span>#}
{#                        <span class="icon-fivehundred" style="color: #1e3d7e;"></span>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <footer>#}
{#                <p>#}
{#                    <a href="#">锦标科技</a></p></footer>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<div id="message-panel" class="data box">#}
{#    <div class="table-header gray-bg">#}
{#        <h3>Message Dialog</h3>#}
{#    </div>#}
{#    <div id="message-container" class="black-solid table-container">#}
{#        <span id="message-text"></span>#}
{#        <button id="close-button" class="-bg" gray onClick="hideMessage();">Close</button>#}
{#    </div>#}
{#</div>#}



<div id="loading">
    <h1>loading...</h1>
</div>
<div id="content">
    <a href="www.itkz.cn">
        <img id="logo" src="./static/2d/images/logo.png" alt="Norse Corp">
    </a>

    <div class="data box top-left gray-bg no-show">
        <a href="#" class="toggle" data-target="#left-table-container">
            <div class="table-header">
                <h1>
                    <span class="icon-open"></span>
                    攻击源
                </h1>
            </div>
        </a>
        <div id="left-table-container" class="table-container">
            <table id="left-data">
                <colgroup>
                    <col class="bar-col" span="1"/>
                    <col class="total-count" span="1"/>
                    <col class="data-label-small" span="1"/>
                    <col class="data-label" span="1"/>
                </colgroup>
                <tr>
                    <th></th>
                    <th><span class="icon-number"></span></th>
                    <th><span class="icon-country"></span></th>
                    <th>国家</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="data box top-right gray-bg no-show">
        <a href="#" class="switch" data-default="#right-table-container" data-second="#right-chart-container">
            <div class="table-header">
                <h1>
                    <span class="icon-open toggle" data-target="#right-table-container"></span>
                    攻击目标 </h1>
            </div>
        </a>
        <div id="right-table-container" class="table-container">
            <table id="right-data">
                <colgroup>
                    <col class="bar-col" span="1">
                    <col class="total-count" span="1">
                    <col class="data-label-small" span="1">
                    <col class="data-label" span="1">
                </colgroup>
                <tr>
                    <th></th>
                    <th><span class="icon-number"></span></th>
                    <th class="flag-col"><span class="icon-country"></span></th>
                    <th>国家</th>
                </tr>
            </table>
        </div>
        <div id="right-chart-container" class="table-container" style="display:none">

        </div>
    </div>

    <div class="data bottom-right box gray-bg no-show">
        <a href="#" class="toggle" data-target="#bottom-right-table-container">
            <div class="table-header">
                <h1 class="table-header">
                    <span class="icon-open"></span>
                    攻击类型
                </h1>
            </div>
        </a>

        <div id="bottom-right-table-container">
            <table id="bottom-right-data">
                <colgroup>
                    <col class="bar-col" span="1">
                    <col class="total-count" span="1">
                    <col class="data-label-small" span="1">
                    <col class="data-label" span="1">
                    <col class="port-label" span="1">
                </colgroup>
                <tr>
                    <th></th>
                    <th><span class="icon-number"></span></th>
                    <th><span class="icon-threattype"></span></th>
                    <th>服务</th>
                    <th>端口</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="data info box gray-bg" id="info" style="position: fixed;left: 200px;top: 50px; display: none;">
        <a href="#" class="toggle" data-target="#info-table-container">
            <div class="table-header">
                <h1 class="table-header">
                    <span id="cityname"></span>受到的攻击
                </h1>
            </div>
        </a>

        <div id="info-table-container">
            <table id="info-data">
                <colgroup>
                    <col class="bar-col" span="1">
                    <col class="total-count" span="1">
                    <col class="data-label-small" span="1">
                    <col class="data-label" span="1">
                    <col class="port-label" span="1">
                </colgroup>
                <tr>
                    <th></th>
                    <th><span class="icon-number"></span></th>
                    <th><span class="icon-threattype"></span></th>
                    <th>服务</th>
                    <th>端口</th>
                </tr>
            </table>
        </div>
    </div>

    <div id="console" class="box gray-bg">
        <a href="#" class="toggle" data-target="#console-table-container">
            <div class="table-header">
                <h1 class="table-header">
                    <span class="icon-open"></span>
                    威胁感知
                </h1>
            </div>
        </a>
        <div id="console-table-container">
            <table id="events-data">
                <colgroup class="second-level">
                    <col class="timestamp-col" span="1">
{#                    <col class="attacker-org-col left-border" span="1">#}
{#                    <col class="location-col" span="1">#}
                    <col class="mid-col" span="1">
                    <col class="port-col" span="1">
                    <col class="attacker-ip-col" span="1">
                    <col class="location-col left-border" span="1">
                    <col class="service-col left-border" span="1">
                    <col class="attacker-org-col left-border" span="1">
                    <col class="attacker-org-col left-border" span="1">

{#                    <col class="port-col" span="1">#}
                </colgroup>

                <tr class="second-level">
                    <th>时间</th>
                    <th>传感器</th>
                    <th>类型</th>
                    <th>来源</th>
                    <th>目标</th>
                    <th>通信协议</th>
                    <th>威胁情报</th>
                    <th>情报来源</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="info-controls">
{#        <div class="gray-bg information info-btn">#}
{#            <span class="info-text icon-info"></span></li>#}
{#        </div>#}
        <div data-paused="false" class="gray-bg controls">
            <span class="icon-pause play-pause"></span>
        </div>
    </div>
    <div id="social-icons" class="gray-bg">
        <a href="#">锦标科技</a>
    </div>
</div>



<div id="drawer">
    <!-- <div id="nav-bottom-corner"></div> -->
    <div id="drawer-content" class="blue-bg">
        <div id="drawer-inner">
{#            <div id="legend-container">#}
{#                <div id="particle-legend">#}
{#                    <h4><span class="icon-open"></span>#}
{#                        <p>每个粒子代表一个攻击</p></h4>#}
                    <p id="particle-legend-content"></p>
{#                </div>#}
{#                <div id="origin-legend">#}
{#                    <h4><span class="icon-open"></span>#}
{#                        <p>这是攻击来源</p></h4>#}
{#                    <p>#}
{#                        <span class="icon-one"></span>#}
{#                        <span class="icon-ten"></span>#}
{#                        <span class="icon-twohundred"></span>#}
{#                    </p>#}
{#                </div>#}
{#                <div id="country-legend">#}
{#                    <h4><span class="icon-open"></span>#}
{#                        <p>这是被攻击国家</p></h4>#}
{#                    <p>#}
{#                        <span class="icon-one" style="color: #1e1e1e;"></span>#}
{#                        <span class="icon-five" style="color: #1e2637;"></span>#}
{#                        <span class="icon-twentyfive" style="color: #1e2e50;"></span>#}
{#                        <span class="icon-onehundred" style="color: #1e3565;"></span>#}
{#                        <span class="icon-fivehundred" style="color: #1e3d7e;"></span>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <footer>#}
{#                <p>#}
{#                    <a href="#">锦标科技</a></p></footer>#}
        </div>
    </div>
</div>

<div id="message-panel" class="data box">
    <div class="table-header gray-bg">
        <h3>Message Dialog</h3>
    </div>
    <div id="message-container" class="black-solid table-container">
        <span id="message-text"></span>
        <button id="close-button" class="-bg" gray onClick="hideMessage();">Close</button>
    </div>
</div>

{#<img id="unknown-icon" src="images/unknown-poly.png"/>#}

<script type="text/javascript" src="./static/2d/js/d3.v3.min.js"></script>
<script type="text/javascript" src="./static/2d/js/queue.v1.min.js"></script>
<script type="text/javascript" src="./static/2d/js/topojson.v1.min.js"></script>
<script type="text/javascript" src="./static/2d/js/ipviking.js"></script>
<script type="text/javascript" src="./static/2d/js/presentations.js"></script>

</body>
</html>

